.friendList {
    background-color: #232222;
    border-radius: 20px;
    width: 70%;
}

.friendAvatar {
    border-radius: 50%;
    width: 3em;
    height: 3em;
}

.friendName {
    color: #F72585;
}

.friendRow {
    border-bottom: 2px solid rgb(49, 47, 47);
    background-color: #232222;
}

.firstFriendRow {
    border-top: 2px solid rgb(49, 47, 47);
}

.friendCol {
    height: 90%;
    max-height: 100%;
    /* overflow-y: scroll */
}

.dot {
    position: absolute;
    width: .6em;
    height: .6em;
    margin: 10px 0px;
}

.dotOnline {
    background-color: rgb(84, 196, 84);
}

.dotOffline {
    background-color: rgb(236, 71, 71);
    box-shadow: 0px 0px 10px rgb(212, 63, 63);
}

.dotSnooze {
    background-color: rgb(74, 131, 218);
    box-shadow: 0px 0px 10px rgb(89, 130, 192);
}

.dotAway {
    background-color: rgb(251, 255, 0);
}

.dotTrade {
    background-color: rgb(132, 0, 255);
}

.dotPlay {
    background-color: rgb(0, 247, 255);
}

.dotBusy {
    background-color: rgb(255, 115, 0);
}

.deleteFriend {
    color: white;
    background: linear-gradient(to right, #F72585, #B5179E);
}

.deleteFriend:hover {
    background: linear-gradient(to right, #c5c0c2, #beb7bd);
    color: #ff0000;
}