.friendList {
    box-shadow: 0px 0px 10px #000000;
}

.table th,
.table td {
    border: none;
    text-align: left;
}

.dotOnline {
    background-color: rgb(84, 196, 84);
    width: .5em;
    height: .5em;
    margin: 10px 0px;
}

.dotOffline {
    background-color: rgb(236, 71, 71);
    width: .5em;
    height: .5em;
    margin: 10px 0px;
    box-shadow: 0px 0px 10px rgb(212, 63, 63);
}

.dotSnooze {
    background-color: rgb(74, 131, 218);
    width: .5em;
    height: .5em;
    margin: 10px 0px;
    box-shadow: 0px 0px 10px rgb(89, 130, 192);
}

.dotAway {
    background-color: rgb(251, 255, 0);
    width: .5em;
    height: .5em;
    margin: 10px 0px;
}

.dotTrade {
    background-color: rgb(132, 0, 255);
    width: .5em;
    height: .5em;
    margin: 10px 0px;
}

.dotPlay {
    background-color: rgb(0, 247, 255);
    width: .5em;
    height: .5em;
    margin: 10px 0px;
}

.dotBusy {
    background-color: rgb(255, 115, 0);
    width: .5em;
    height: .5em;
    margin: 10px 0px;
}