@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To GameBridge</h1>
    <p>This app will allow you to track your friends online prescense from multiple platforms</p>
</div>
