html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background:
    linear-gradient(to right, rgba(0, 0, 0, 0), rgba(129, 4, 160, 0.8)),
    url('https://images.unsplash.com/photo-1586182987320-4f376d39d787?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') left center / auto 100% no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  font-family: "Tilt Neon", sans-serif;
}

.authBtn {
  color: white;
  border: 1.5px solid #bd1c6a;
}

.authBtn:hover {
  background-color: #bd1c6a;
  color: white;
}