.neonHeader {
    font-size: 3.25em;
    color: #ffffff;
    text-shadow: 0 0 12px #B5179E;
    /* Neon shadow effect */
    animation: flicker 0.6s infinite alternate;
}

@keyframes flicker {
    0% {
        opacity: 0.8;
        /* Initial opacity (less bright) */
        text-shadow: 0 0 10px #F72585;
        /* Neon shadow effect */
    }

    50% {
        opacity: 1;
        /* Full opacity (brighter) */
        text-shadow: 0 0 15px #B5179E;
        /* Slightly larger shadow */
    }

    100% {
        opacity: 0.9;
        /* Slightly reduced opacity */
        text-shadow: 0 0 12px #B5179E;
        /* Intermediate shadow size */
    }
}

.keyLabel {
    font-size: 1.5em;
}

.accountHeaders {
    color: #ffffff;
    text-shadow: 5px 5px 3px #000000;
}

.formBorder {
    background-color: #232222;
    border-radius: 20px;
}

.accountBtn {
    background: linear-gradient(to right, #F72585, #B5179E);
    border: 0px;
    border-radius: 20px;
    color: #ffffff;
    
}

.accountBtn:hover {
    box-shadow: 0px 0px 10px #c64bff;
    color: white;
}