.logoutBtn {
    border: 0;
    box-shadow: 0;
    background-color: rgba(0, 0, 0, 0);
    color: #F72585;
    font-size: 1.3em;
}

.logoutBtn:hover {
    text-shadow: #F72585 0px 0px 4px;
    cursor: pointer;
}