.form {
    width: 35%;
}

.authBtn {
    width: 60%;
    color: white;
    background: linear-gradient(to right, #F72585, #B5179E);
    border: 0px;
    border-radius: 20px;
    font-size: 1.2em;
}

.authBtn:hover {
    box-shadow: 0px 0px 10px #c64bff;
}

.formBg {
    border-radius: 19px;
    background-color: #252525;
}

.authHead {
    font-size: 2.5em;
}
