.home {
    background:
        linear-gradient(to right, rgba(0, 0, 0, 0), #af6bff),
        url('https://images.unsplash.com/photo-1586182987320-4f376d39d787?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') left center / auto 100% no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    font-family: "Tilt Neon", sans-serif;
    height: 110vh;
    padding: 2rem;
}