nav {
    background-color: rgb(35, 34, 34);
}

a {
    color: white;
    list-style: none;
}

a:hover {
    color: #F72585;
}

.navHeader {
    background: linear-gradient(to right, #B5179E, #F72585);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 1.5em;
}